*{
    margin: 0px;
    font-family: sans-serif;
}
h1{
    font-size: 44px;
    font-weight: 700;
    color: #000000;
}
h2{
    font-size: 18px;
    font-weight: 700;
    color: #000;
}
p{
    font-size: 18px;
    font-weight: 500;
    color: #000000;
}
h3{
    font-size: 17px;
    font-weight: 500;
    color: #828282;
}
.sel{
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 18px;
    font-weight: 500;
    color: #000000;
}
button{
    border: none;
}
.divheader{
    display: flex;
    justify-content: center;
    gap: 45px;
    align-items: center;
    margin-top: 20px;
    padding: 0px 200px;
    
}
.btnlog{
    width:107px ;
    height: 40px;
    background-color: transparent;
    color: #2642F8;
    font-size: 16px;
    font-weight: 500;
    border: 2px solid; 
    border-radius: 20px;   
}
.divheaderpart2{
    display: flex;
    padding: 0px 150px;
    gap: 180px;
    margin-top: 100px;
    align-items: center;
}
.h1more{
    width: 437px;
    margin-bottom: 20px;
    
}
.plor{
    line-height: 25px;
}
.divdate{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.date{
    display: flex;
    align-items: center;
    gap: 5px;
}
.AuthorName{
    display: flex;
    gap: 20px;

}
.hr1{
    margin: auto;
    margin-top: 70px;
    background-color: gray;
    height: 1px;
    padding: 0px 150px;
    width: 60%;
}
.sec1{
     padding: 0px 150px;
     margin-top: 100px;
     display: flex;
     gap: 30px;
    
}
.div1{
    width: 360px;
}
.df{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.pWhen{
    width: 360px;
}
.btnux{
    width:120px ;
    height: 35px;
    background-color: #F2F2F2;
    color: #4F4F4F;
    font-size: 15px;
    font-weight: 500;
    border: none;     
}
.jan{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 10px;
}
.pshort{
    font-size: 16px;
    font-weight: 300;
    color: #333333;
    margin-top: 10px;
}
.el18{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}
.q1{
    width: 61%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.q2{
    width: 34%;
}
.divlorem{
    padding-left: 20px;
    margin-top: 70px;
}
.yem{
    width: 360px;
    height: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
}
.btnsign{
    width:120px ;
    height: 35px;
    background-color: #2642F8;
    color: #F2F2F2;
    font-size: 15px;
    font-weight: 500;
    border: none;    
    border-radius: 20px; 
}
.sec2{
    display: flex;
    padding: 0px 150px;
    justify-content: space-between;
    margin-top: 100px;
}
.sec3{
    background-color: #333333;
    padding: 70px 150px;
    margin-top: 100px;
}
.pod{
    background-image: url(./images/Rectangle\ 271.png);
    width: 95%;
    height: 400px;
    background-repeat: no-repeat;
    margin-left: 5px;
    padding-top: 70px;
    padding-left: 70px;
}
.ppod{
    font-size: 24px ;
    font-weight: 500;
    color: #FFFFFF;
}
.the{
    font-size: 50px ;
    font-weight: 700;
    color: #FFFFFF;
    width: 403px;
    line-height: 60px;
}
.color{
    
    color: white;
}
.bcolor{
    background-color: white;
   
}
.div2{
    width: 360px;
}
.div3{
    display: flex;
    align-items: center;
    gap: 20px;
}
.div31{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}
.sec4{
    padding: 0px 150px;
}
.lat{
    display: flex;
    margin-top: 130px;
    margin-left: 30px;
    gap: 100px;
}
.hrr1{
    margin-top:50px;
}
.sec44{
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    margin-top: 100px;
}
.sec5{
    background-color: #2642F8;
    padding: 0px 300px;
    margin-top: 140px;
}
.pjo{
    color: white;
    width: 962px;
    text-align: center;
    padding-top: 100px;
}
.btnnow{
    width:150px ;
    height: 35px;
    background-color: #F2F2F2;
    color: #2642F8;
    font-size: 15px;
    font-weight: 600;
    border: none;  
    border-radius: 20px;
    margin-top: 20px;  
    margin-left: 400px;
    
}
.no{
    display: flex;
    align-items: center;
    gap: 10px;
}
.divno{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}